*{
    padding: 0;
    margin: 0;
}

#container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
}

.cardImg{
    width: 200px;
    height: 200px;
}

.card{
    padding: 15px;
    height: 450px;
    width: 230px;
    border: 1px solid black;
    border-radius: 20px;
    margin: 10px
}
